@import "~antd/dist/antd.css";

.dashboard {
  background-color: #333333;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  margin-left: 310px;
  top: 80px;
  border-radius: 0px;
  min-width: 450px;
  left: -60px;
}

body{
  background-color: #333333;
}

#heading{
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  margin: 0 auto;
  font-size: 38px;
  }

.ant-input-number{
  max-width: 80px;
}
#basic_message_size{
  max-width: 80px;
}
.ant-btn-primary span{
  margin-left: 0;
}
.ant-btn-dangerous span{
  margin-left: 0;
}
#publisher-qos,#subscriber-qos{
  width: 30%;
}
#password{
-webkit-text-security: disc;
}
.dashboard .ant-card {
  width: 100%;
  max-width: 850px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 30px;
}

.ant-card-actions {
  border-radius: 30px;
  border: none;
}

.ant-card-actions li {
  border: none;
}

.ant-form-inline .ant-form-item {
  margin-bottom: 20px;
}

.ant-list-item-meta-description {
  color: rgba(19, 3, 3, 0.651);
}

li.ant-list-item {
  border: none;
  background-color: white;
}

.ant-card-head-title {
  font-size: 20px;
}
#danger-button {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  position: relative;
  margin-left: 0px;
}

#danger-button:hover {
  background:rgba(197, 31, 31, 0.795) !important;
  color: white;
}
#danger-button2{
  background-color: rgb(241, 0, 0);
  color: white;
padding-left: 0;
}

#danger-button2:hover{
  background: rgba(235, 170, 170, 0.822);
  color: rgb(255, 0, 0);
padding-left: 0;
}
#start-button{
  background-color: green;
  color: #fff;
  padding-left: 0;
}

#start-button:hover{
  color: #1e2222;
  background: lightblue;
}
.ant-select-selection-item {
  padding-right: 0 !important;
}
.ant-input {
  color: brown;
  font-family: sans-serif;
}

@media(max-width:1000px){
#danger-button{
  margin-left: 40px;
}
}

@media(max-width: 800px) {
  .dashboard {
    top: 250px;
    margin: 0 auto;
    width: 500px;
    margin-left: 45px;
    margin-right: 45px;
    width: 100%;
  }
  .ant-card{
    width: 400px;
  }
}
@media(max-width: 600px) {
  .dashboard{
    top: 250px;
    margin: 0 auto;
    left: 0px;
    width: 100%;
  }
}
@media(max-width: 400px) {
  .dashboard {
    top: 250px;
    margin: 0 auto;
    left: -10px;
    width: 100%;
  }
  #heading{
    left: -200px;
  }
}

